<!doctype html>
<html lang="en">
  <head>
    <!-- based on http://twitter.github.com/bootstrap/examples/fluid.html -->
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      /* Space out sub-sections more
      -------------------------------------------------- */
      section {
        padding-top: 60px;
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <title>{% block title %}Athens Docket Project{% endblock %}</title>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="{{ url_for('index') }}"">Athens Docket Project</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% if g.navbar_active == 'index' %}active{%
              endif %}"><a href="{{ url_for('index')
              }}""><i class="icon-home icon-white"></i> Home</a></li>
              <li class="{% if g.navbar_active == 'browse' %}active{%
              endif
              %}"><a href="{{url_for('browse')}}"><i class="icon-book
              icon-white"></i> Browse</a></li>
              <li class="{% if g.navbar_active == 'search' %}active{%
              endif
              %}"><a href="{{url_for('search')}}"><i class="icon-search
              icon-white"></i> Search</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="{% if g.navbar_active == 'about' %}active{%
              endif
              %}"><a href="{{url_for('about')}}"><i class="icon-info-sign
              icon-white"></i> About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12">
          <div class="hero-unit">
            <h1>Missing Content Block</h1>
            <p>This page does not have a content block, yet.</p>
          </div>
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}

      <hr>

      <div class="span12">
        <footer>
          <p>&copy; 2012 Athens-Clarke County Heritage Room</p>
        </footer>
      </div>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>

<!-- enable tooltips -->
<script type="text/javascript">
  $(document).ready(function () {
    $("[rel=tooltip]").tooltip();
  });
</script>

<!-- enable popovers -->
<script type="text/javascript">
  $(document).ready(function () {
    $("[rel=popover]").popover();
  });
</script>

  </body>
</html>
