{% extends "base.html" %}
{% block title %}Browse{% endblock %}

{% block content %}
<div class="container-fluid">

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#date" data-toggle="tab">Date</a></li>
    <li><a href="#violation" data-toggle="tab">Violation</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="date">
      <ul>
        {% for y in years %}
        <li><a href="{{ url_for('browse_date', year=y) }}">{{y}}</a></li>
        {% endfor %}
      </ul>
    </div><!--/tab-pane-->

    <div class="tab-pane" id="violation">
      <ul>
        {% for v in violations %}
        <li>{{v.code}} -- {{v.summary}}</li>
        {% endfor %}
      </ul>
    </div><!--/tab-pane-->

  </div><!--/tab-content-->

</div><!--/tabbable-->

{% endblock %}
