{% extends "base.html" %}
{% block title %}Case {{case._id}}{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="page-header">
    <h1>Case <small>{{case._id}}</small></h1>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Case Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{case.number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
