{% extends "base.html" %}
{% block title %}Athens Docket Project{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12">
          <div class="hero-unit">
            <h1>Athens Docket History Project</h1>
            <p>The <em>Athens Docket History</em> site is a project of
            the <a href="http://www.clarke.public.lib.ga.us/hqdepts/heritage/index.html">Athens-Clarke
            County Heritage Room</a>. We are creating a web-based
            index of historical police and court records from
            Athens-Clarke County, Georgia, USA.
            <a class="btn btn-medium" href="{{ url_for('about') }}">Learn more &raquo;</a></p>
            <p>
            <a class="btn btn-primary btn-large" href="{{ url_for('search') }}">Search </a></p>
          </div>
          <div>
            <center><img src="{{ url_for('static',
            filename='images/city_hall.jpg')}}" alt="etching of
            Athens, GA city hall"></center>
          </div>
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}
