{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="page-header">
    <h1>Search</h1>
  </div>

  <div class="row-fluid">
      
  <div class="span3">
    <form class="well form-vertical">
      <fieldset>

        <div class="control-group {% if form.first_name.errors %}error{% endif %}">
          <label class="control-label" for="first_name">{{form.first_name.label}}</label>
          <div class="controls">
            {{ form.first_name(placeholder="First name") }}
          </div>
          {% if form.first_name.errors %}
          <div class="alert alert-error">
            {% for error in form.first_name.errors %}<p>{{error}}</p>{% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="control-group {% if form.last_name.errors %}error{% endif %}">
          <label class="control-label" for="last_name">{{form.last_name.label}}</label>
          <div class="controls">
            {{ form.last_name(placeholder="Last name") }}
          </div>
          {% if form.last_name.errors %}
          <div class="alert alert-error">
            {% for error in form.last_name.errors %}<p>{{error}}</p>{% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="control-group">
          <label class="control-label" for="encoding">{{form.encoding.label}}</label>
          <div class="controls">
            {{ form.encoding }}
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" 
                  class="btn btn-primary btn-small">
            <i class="icon-search icon-white"></i> Search
          </button>
        </div>
      </fieldset>
    </form>

    {% if alternate_counts %}
    <div class="well">
      <ul class="nav nav-list">
        <li class="nav-header">Other Search Types</li>
        {% for ac in alternate_counts %}
        <li><a href="{{ac.url|safe}}">{{ac.encoding}} : {{ac.count}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>

  <div class="span9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: right;" width="10%">Case Number</th>
          <th width="20%">Arrest Date</th>
          <th>Participant</th>
          <th width="20%">Role</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td style="text-align: right;"><a href="{{ url_for('case', caseid=result.case_id) }}">{{result.case_number}}</a></td>
          <td>
          {% if result.date %}
          <a href="{{ url_for('browse_date',
                       year=result.date.year, 
                       month=result.date.month, 
                       day=result.date.day)}}">{{result.date|date}}</a>
          {% else %}no date
          {% endif %}
          </td>
          <td>{{result.full_name}}</td>
          <td>{{result.role}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div><!--/span-->
  
  </div><!--/row-->
</div>
{% endblock %}
