{% extends "base.html" %}
{% block title %}About the Athens Docket Project{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="page-header">
    <h1>Athens Docket History Project</h1>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><a href="#background"
      data-toggle="tab"><i class="icon-book"></i> The Project</a></li>
      <li class="active"><a href="#code" data-toggle="tab"><i class="icon-th-list"></i> City Codes</a></li>
      <li><a href="#technology" data-toggle="tab"><i class="icon-wrench"></i> Technology</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="background">
        <p>More to come...</p>
      </div>

      <div class="tab-pane active" id="code">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Code</th>
              <th>Summary</th>
            </tr>
          </thead>
          <tbody>
            {% for v in violations %}
            <tr>
              <td><a href="{{ url_for('code', code=v.code) }}">{{v.code}}</a></td>
              <td>{{v.summary}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!--/tab-pane-->

      <div class="tab-pane" id="technology">
        <p>This site uses the following tools:</p>
        <ul>
          <li><a href="http://www.python.org">Python</a> for all programming.</li>
          <li><a href="http://www.mongodb.org">MongoDB</a> for data
          storage and searching.</li>
          <li><a href="http://flask.pocoo.org/">Flask</a> web framework</li>
          <li><a href="http://pyparsing.wikispaces.com/">PyParsing</a>
          for data file parsing and processing</li>
          <li><a href="http://jinja.pocoo.org/">Jinja</a> for web page templating</li>
          <li><a href="https://bitbucket.org/yougov/fuzzy/src">Fuzzy</a>
          for phonetic hash searching</li>
          <li><a href="http://docs.celeryproject.org/en/latest/index.html">Celery</a>
          for task distribution</li>
          <li><a href="http://www.rabbitmq.com/">RabbitMQ</a> for messaging</li>
          <li><a href="http://fabfile.org">Fabric</a> for deployment
          automation</li>
          <li><a href="http://twitter.github.com/bootstrap/index.html">Twitter
          Bootstrap</a> for CSS and JavaScript framework</li>
          <li><a href="http://github.com">GitHub</a> for source code
          hosting, bug tracking, and project management</li>
        </ul>

        <p>The source code used to build this site is open sourced
        under
        the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache
        2.0 license</a>, and is available from
        our <a href="https://github.com/dhellmann/athensdocket/">github
        repository</a>.</p>

      </div>

    </div><!--/tab-content-->

  </div><!--/tabbable-->

</div>
{% endblock %}
