{% extends "base.html" %}
{% block title %}Browse by Date{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h1>Browse <small>by Date</small></h1>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><a href="{{ url_for('browse') }}">Browse</a> <span class="divider">/</span></li>
        <li>by Date</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">

      <table class="table table-striped">
        <tbody>
          {% for y in years %}
          <tr>
            <td>
              <a href="{{ url_for('browse_date', year=y)}}">{{y}}</a> -
              <a href="{{ url_for('browse_date', year=y,
                       month=1)}}">Jan</a> -
              <a href="{{ url_for('browse_date', year=y, month=2) }}">Feb</a> -
              <a href="{{ url_for('browse_date', year=y, month=3) }}">Mar</a> -
              <a href="{{ url_for('browse_date', year=y, month=4) }}">Apr</a> -
              <a href="{{ url_for('browse_date', year=y, month=5) }}">May</a> -
              <a href="{{ url_for('browse_date', year=y, month=6) }}">Jun</a> -
              <a href="{{ url_for('browse_date', year=y, month=7) }}">Jul</a> -
              <a href="{{ url_for('browse_date', year=y, month=8) }}">Aug</a> -
              <a href="{{ url_for('browse_date', year=y, month=9) }}">Sep</a> -
              <a href="{{ url_for('browse_date', year=y, month=10) }}">Oct</a> -
              <a href="{{ url_for('browse_date', year=y, month=11) }}">Nov</a> -
              <a href="{{ url_for('browse_date', year=y, month=12) }}">Dec</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>


{% endblock %}
