{% extends "base.html" %}
{% block title %}Browse | {{ super() }}{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="page-header">
    <center><img src="{{ url_for('static', filename='images/athens.jpg') }}"
         height="186" width="381" alt="City of Athens Police
         Department letterhead image"></center>
    <h1>Browse</h1>
  </div>

  <div class="row-fluid">
    <p>
      <a class="btn btn-primary"
         href="{{url_for('browse_date')}}"><i class="icon-calendar
                                                     icon-white"></i> Cases by Date</a> 
      organized by year and month</p>

    <p>
      <a class="btn btn-primary"
         href="{{url_for('browse_location')}}"><i class="icon-map-marker
                                                         icon-white"></i> Cases by Location</a>
      organized by the description of the location of the offense</p>
  </div>

</div><!--/container-->
{% endblock %}
