{% extends "base.html" %}
{% block title %}Browse by Location{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="page-header">
    <h1>Browse <small>By Location</small></h1>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <ul class="breadcrumb">
        <li><a href="{{ url_for('browse') }}">Browse</a> <span class="divider">/</span></li>
        <li>by Location</li>
      </ul>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Location Description</th>
          </tr>
        </thead>
        <tbody>
          {% for loc in locations %}
          <tr>
            <td><a href="{{url_for('browse_location', location=loc)}}">{{loc}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>


{% endblock %}
